html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    background-color: #1f2937;
    flex-direction: column;
    display: flex;
    color: white;
    justify-content: space-evenly;
    margin: 0 15em;
    padding: 0;
    border-radius: 3rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoplaceholder {
    font-size: 32px;
}

.headerlinks {
    display:flex;
    gap: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 1em;
    color: white;
}


.Title {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    gap: 10px;
    padding: 30px 0;
}

.titleL {
    display: flex;
    flex-direction: column;
    width: 8 rem;
    gap: 8px;
    align-items: baseline;
    flex-wrap: wrap;
}

.titleR {

}

.HeroText {
    font-size: 48px;

    font-family: 'Roboto', sans-serif;
}

.infosection {
    background-color: white;
    color:black;
}
.infotitle {
    display: flex;
    justify-content: Center;
    font-size: 32px;
    margin: 20px 0;
}
.infographic {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    gap: 20px;
}

.info{
    justify-content: space-between;
}

.infopic {
    max-width: 100%;
    height: auto;  
}

.testimonial {
    display: flex;
    justify-content: center;
    flex: auto;
    color: #666666;
    background-color: #DDDDDD;
    font-size: 32px;
    padding: 100px 30px;
    gap: 20px;
}

.credit {
    color: black;
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1 1 auto;
}

.signup {
    background-color: white;
}

.signupbox {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    align-items: center;
    padding: 50px;
    margin: 30px 600px;
}

.signleft {
    margin: 30px;

}

.footer {
    display: flex;
    justify-content: center;
    margin: 50px;

}

img {
    border-radius: 2rem;
}

.credit {
    font-size: 16px;
    justify-content:end;
}

button {
    border-radius: 4px;
    font-size: 20px;
    height: 60px;
    width: 200px;
    color: white;
    background-color: #3882F6;
}